h2 {
  text-align: center;
  font-size: 36px;
  padding: 15px;
  font-weight: 400;
}
.row {
  margin: 75px 0;
  font-size: 18px;
  line-height: 2.0;
  font-weight: 300;
  display: flex;
  height:200px;
  width: 100%;
  margin-top: 25px;
  padding: 20px 0;

  .info-text {
    width:66%;
    margin: 25px 7%;
  }
  .info-img-1 {
    max-height: 800px;
    max-width: 200px;
    border-radius: 100px;
  }
  .info-img-2 {
    border-radius: 100px;
    margin-left:15px;
    max-height: 400px;
    max-width: 250px;
  }
}

.alt {
  padding: 20px 0;
  background-color: $text-main + 100;
}
