h2 {
  margin-left:50px;
}
.row {
  display: flex;
  height:200px;
  width: 100%;
  margin-top: 25px;
  .info-text {
    width:66%;
    margin: 25px 7%;
  }
  .info-img-1 {
    max-height: 400px;
    max-width: 20%;
  }
  .info-img-2 {
    max-height: 400px;
    max-width: 20%;
  }
  .info-img-3 {
    max-height: 400px;
    max-width: 20%;
  }
}

.alt {
  padding: 25px 0;
  background-color: $text-main + 100;
}
