@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,500,100);
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

#top .navbar {
  width: 100%;
  height: 100px;
  background-color: #d93f3f;
  display: flex; }
  #top .navbar .headshot {
    margin-left: 50px;
    border: 5px solid #d93f3f;
    width: 150px;
    height: 150px;
    margin-right: 500px; }
  #top .navbar .nav-link {
    margin-top: 42px;
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px;
    font-weight: 300;
    color: #2e2e2e; }
    #top .navbar .nav-link:hover {
      transition: color 0.25s ease-in-out, font-weight 0.25s ease-in-out;
      font-weight: 700;
      color: white; }
#top .container {
  width: 100%;
  height: 600px;
  background-image: url("../../Images/jumbotron-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #abb6b9; }
  #top .container .jumbotron-title {
    padding: 0;
    margin: 0;
    font-size: 72px;
    text-align: center;
    padding-top: 200px; }
  #top .container .jumbotron-desc {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
    padding-top: 10px; }

h2 {
  margin-left: 50px; }

.row {
  display: flex;
  height: 200px;
  width: 100%;
  margin-top: 25px;
  padding: 20px 0; }
  .row .info-text {
    width: 66%;
    margin: 25px 7%; }
  .row .info-img-1 {
    max-height: 400px;
    max-width: 250px; }
  .row .info-img-2 {
    margin-left: 15px;
    max-height: 400px;
    max-width: 250px; }
  .row .info-img-3 {
    max-height: 400px;
    max-width: 250px; }

.alt {
  padding: 20px 0;
  background-color: #929292; }

#timeline {
  display: block;
  width: 100%;
  height: 625px;
  padding-top: 25px;
  background-color: #969696; }
  #timeline .timeline-container {
    height: 600px;
    width: 90%;
    background-image: url("../../Images/timeline-bg-img-0.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto; }
    #timeline .timeline-container .timeline-hover {
      background-color: rgba(22, 22, 23, 0.79);
      width: 90%;
      height: inherit;
      position: absolute;
      z-index: 75; }
      #timeline .timeline-container .timeline-hover .hover-title {
        color: white;
        text-align: center;
        margin: 10% 0 0 0;
        font-size: 62px;
        font-weight: 300; }
    #timeline .timeline-container .timeline {
      display: flex;
      width: 14700px;
      height: inherit;
      overflow-x: scroll;
      overflow-y: hidden; }
      #timeline .timeline-container .timeline .timeline-core {
        width: 90%;
        height: 15px;
        background-color: black;
        position: absolute;
        z-index: 0;
        margin-top: 292.5px; }
      #timeline .timeline-container .timeline .timeline-item {
        background-color: #b9ede0;
        height: 300px;
        width: 500px;
        margin: 150px 100px;
        position: relative;
        z-index: 1;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 5px; }
        #timeline .timeline-container .timeline .timeline-item .item-title {
          margin-left: 25px;
          font-size: 28px; }
        #timeline .timeline-container .timeline .timeline-item .item-desc {
          margin: 25px 15px 10px;
          line-height: 2.0;
          font-weight: 100; }

#family-tree {
  margin-top: 25px; }
  #family-tree .tree-row {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    #family-tree .tree-row .tree-items {
      display: flex;
      flex-direction: row; }
      #family-tree .tree-row .tree-items .tree-item {
        display: block;
        margin: 25px auto;
        height: 200px;
        width: 150px; }
        #family-tree .tree-row .tree-items .tree-item .tree-item-container {
          height: inherit;
          width: inherit; }
          #family-tree .tree-row .tree-items .tree-item .tree-item-container .tree-scientist {
            height: inherit;
            width: inherit;
            border: 2px solid #915f08; }
            #family-tree .tree-row .tree-items .tree-item .tree-item-container .tree-scientist:hover {
              transition: transform 0.25s ease-in-out;
              transform: scale(1.1);
              cursor: pointer; }

#tree-row-1 .tree-top-line {
  display: none;
  background-color: white;
  height: 10px; }
#tree-row-1 #tree-item-1 .connector {
  width: 5px;
  height: 350px;
  position: absolute;
  z-index: -1;
  margin: 0 75px;
  background-color: black; }

#tree-row-2 .tree-top-line {
  display: none;
  background-color: white;
  height: 10px; }
#tree-row-2 #tree-item-1 .connector {
  width: 5px;
  height: 372px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-3 .tree-top-line {
  display: block;
  background-color: black;
  height: 5px;
  width: 50%;
  margin: 0 auto; }
#tree-row-3 #tree-item-1 .connector {
  width: 5px;
  height: 371px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }
#tree-row-3 #tree-item-2 .connector {
  width: 5px;
  height: 371px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-4 .tree-top-line {
  display: block;
  background-color: black;
  height: 5px;
  width: 50%;
  margin: 0 auto; }
#tree-row-4 #tree-item-1 .connector {
  width: 5px;
  height: 400px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-5 .tree-top-line {
  display: none;
  background-color: white;
  height: 10px; }
#tree-row-5 #tree-item-1 .connector {
  width: 5px;
  height: 372px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-6 .tree-top-line {
  display: block;
  background-color: black;
  height: 5px;
  width: 50%;
  margin: 0 auto; }
#tree-row-6 #tree-item-1 .connector {
  width: 5px;
  height: 100px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }
#tree-row-6 #tree-item-1 .connector {
  width: 5px;
  height: 100px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

.top {
  bottom: 0;
  width: 75px;
  height: 75px;
  margin-left: 90%;
  margin-right: 25px;
  margin-bottom: 25px;
  position: fixed;
  z-index: 100; }
  .top img {
    height: 75px;
    width: 75px; }

/*# sourceMappingURL=main.css.map */
