@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,500,100);
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.section-title {
  color: black;
  font-weight: 300;
  font-size: 48px;
  text-align: center; }

#top .navbar {
  width: 100%;
  height: 100px;
  background-color: #d93f3f;
  display: flex; }
  #top .navbar .headshot {
    margin-left: 50px;
    border: 5px solid #d93f3f;
    width: 150px;
    height: 150px;
    margin-right: 500px; }
  #top .navbar .nav-link {
    margin-top: 42px;
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px;
    font-weight: 300;
    color: #2e2e2e; }
    #top .navbar .nav-link:hover {
      transition: color 0.25s ease-in-out, font-weight 0.25s ease-in-out;
      font-weight: 700;
      color: white; }
#top .container {
  width: 100%;
  height: 600px;
  background-image: url("../../Images/jumbotron-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #abb6b9; }
  #top .container .jumbotron-title {
    padding: 0;
    margin: 0;
    font-size: 72px;
    text-align: center;
    padding-top: 200px; }
  #top .container .jumbotron-desc {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
    padding-top: 10px; }

h2 {
  margin-left: 50px; }

.row {
  display: flex;
  height: 200px;
  width: 100%;
  margin-top: 25px;
  padding: 20px 0; }
  .row .info-text {
    width: 66%;
    margin: 25px 7%; }
  .row .info-img-1 {
    max-height: 400px;
    max-width: 250px; }
  .row .info-img-2 {
    margin-left: 15px;
    max-height: 400px;
    max-width: 250px; }
  .row .info-img-3 {
    max-height: 400px;
    max-width: 250px; }

.alt {
  padding: 20px 0;
  background-color: #929292; }

#timeline {
  display: block;
  width: 100%;
  height: 900px;
  padding-top: 75px;
  padding-bottom: 50px;
  background-color: #969696; }
  #timeline .timeline-container {
    height: 600px;
    width: 90%;
    background-image: url("../../Images/timeline-bg-img-0.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto; }
    #timeline .timeline-container .timeline-hover {
      background-color: rgba(22, 22, 23, 0.79);
      width: 90%;
      height: inherit;
      position: absolute;
      z-index: 75; }
      #timeline .timeline-container .timeline-hover .hover-title {
        color: white;
        text-align: center;
        margin: 10% 0 0 0;
        font-size: 62px;
        font-weight: 300; }
    #timeline .timeline-container .timeline {
      display: flex;
      width: 14700px;
      height: inherit;
      overflow-x: scroll;
      overflow-y: hidden; }
      #timeline .timeline-container .timeline .timeline-core {
        width: 90%;
        height: 15px;
        background-color: black;
        position: absolute;
        z-index: 0;
        margin-top: 292.5px; }
      #timeline .timeline-container .timeline .timeline-item {
        background-color: #b9ede0;
        height: 300px;
        width: 500px;
        margin: 150px 100px;
        position: relative;
        z-index: 1;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 5px; }
        #timeline .timeline-container .timeline .timeline-item .item-title {
          margin-left: 25px;
          font-size: 28px; }
        #timeline .timeline-container .timeline .timeline-item .item-desc {
          margin: 25px 15px 10px;
          line-height: 2.0;
          font-weight: 100; }

#family-tree {
  background-image: url("http://blog.spoongraphics.co.uk/wp-content/uploads/2012/textures/15.jpg");
  height: 2250px;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: -40px; }
  #family-tree .section-title {
    padding-top: 75px; }
  #family-tree .tree-row {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column; }
    #family-tree .tree-row .tree-items {
      display: flex;
      flex-direction: row; }
      #family-tree .tree-row .tree-items .tree-item {
        display: block;
        margin: 25px auto;
        height: 200px;
        width: 150px; }
        #family-tree .tree-row .tree-items .tree-item .tree-item-container {
          height: inherit;
          width: inherit; }
          #family-tree .tree-row .tree-items .tree-item .tree-item-container .tree-scientist {
            height: inherit;
            width: inherit;
            position: relative;
            z-index: 1;
            border: 2px solid #915f08; }
            #family-tree .tree-row .tree-items .tree-item .tree-item-container .tree-scientist:hover {
              transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
              transform: scale(1.1);
              cursor: pointer;
              -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

#tree-row-1 .tree-top-line {
  display: none;
  background-color: white;
  height: 10px; }
#tree-row-1 #tree-item-1 .connector {
  width: 5px;
  height: 350px;
  position: absolute;
  z-index: -1;
  margin: 0 75px;
  background-color: black; }

#tree-row-2 .tree-top-line {
  display: none;
  background-color: white;
  height: 10px; }
#tree-row-2 #tree-item-1 .connector {
  width: 5px;
  height: 360px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-3 .tree-top-line {
  display: block;
  background-color: black;
  height: 5px;
  width: 50%;
  margin: 0 auto; }
#tree-row-3 #tree-item-1 .connector {
  width: 5px;
  height: 355px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }
#tree-row-3 #tree-item-2 .connector {
  width: 5px;
  height: 355px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-4 .tree-top-line {
  display: block;
  background-color: black;
  height: 5px;
  width: 50%;
  margin: 0 auto; }
#tree-row-4 #tree-item-1 .connector {
  width: 5px;
  height: 400px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-5 .tree-top-line {
  display: none;
  background-color: white;
  height: 10px; }
#tree-row-5 #tree-item-1 .connector {
  width: 5px;
  height: 360px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#tree-row-6 .tree-top-line {
  display: block;
  background-color: black;
  height: 5px;
  width: 50%;
  margin: 0 auto; }
#tree-row-6 #tree-item-1 .connector {
  width: 5px;
  height: 100px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }
#tree-row-6 #tree-item-1 .connector {
  width: 5px;
  height: 100px;
  position: absolute;
  z-index: -1;
  margin: -30px 75px;
  background-color: black; }

#expirement {
  width: 100%;
  display: block; }
  #expirement .experiment-container {
    justify-content: center;
    display: flex;
    height: 1000px;
    width: 100%; }
    #expirement .experiment-container .weight-container {
      margin-top: 300px;
      height: 200px;
      width: 200px;
      background-color: #bf8900; }
      #expirement .experiment-container .weight-container .weight-obj {
        background-image: url("../../Images/weight.png");
        background-size: cover;
        position: absolute;
        margin: 50px 50px;
        width: 100px;
        height: 100px; }
        #expirement .experiment-container .weight-container .weight-obj span {
          color: white;
          text-align: center; }
    #expirement .experiment-container .experiment {
      display: flex;
      width: 700px;
      height: 100%; }
      #expirement .experiment-container .experiment .mass-container {
        background-color: #7c7c7c;
        border-radius: 10px;
        width: 15%;
        height: 100%; }
        #expirement .experiment-container .experiment .mass-container .mass-level {
          height: 600px;
          width: 100%;
          border-radius: 10px;
          margin-top: 400px;
          background-image: url("http://www.netanimations.net/animated-water-moving-blue-flowing.gif"); }
      #expirement .experiment-container .experiment .area {
        background: white;
        background: -moz-linear-gradient(top, white 0%, #474747 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #474747));
        background: -webkit-linear-gradient(top, white 0%, #474747 100%);
        background: -o-linear-gradient(top, white 0%, #474747 100%);
        background: -ms-linear-gradient(top, white 0%, #474747 100%);
        background: linear-gradient(to bottom, white 0%, #474747 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#474747', GradientType=0 );
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column; }
        #expirement .experiment-container .experiment .area .pressure-area {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column-reverse;
          height: 500px;
          width: 500px;
          min-height: 500px;
          border-bottom: 2px solid black;
          border-right: 1px solid black; }
          #expirement .experiment-container .experiment .area .pressure-area .weight-obj {
            background-image: url("../../Images/weight.png");
            background-size: cover;
            float: left;
            margin: 10px;
            width: 100px;
            height: 100px; }
            #expirement .experiment-container .experiment .area .pressure-area .weight-obj span {
              color: white;
              text-align: center; }
        #expirement .experiment-container .experiment .area .volume-area {
          width: 500px;
          height: 500px;
          background-image: url("http://ozonedepletiontheory.info/Images/translational-kinetic-energy.gif");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
      #expirement .experiment-container .experiment .side-ticks {
        background-color: black;
        width: 200px;
        height: 100%; }
        #expirement .experiment-container .experiment .side-ticks .volume {
          height: 100px;
          padding: 0;
          margin: 0;
          text-align: center;
          color: white;
          text-align: center;
          padding: 0; }
        #expirement .experiment-container .experiment .side-ticks .tick-container {
          margin-top: 353px;
          height: 527px; }
        #expirement .experiment-container .experiment .side-ticks span {
          font-size: 16px;
          border-bottom: 1px solid #737373;
          color: white;
          display: block;
          margin-top: 11px; }
          #expirement .experiment-container .experiment .side-ticks span:before {
            padding-left: 10px;
            content: ' - '; }
          #expirement .experiment-container .experiment .side-ticks span:after {
            padding-right: 10px;
            content: 'm^3'; }

.top {
  bottom: 0;
  width: 75px;
  height: 75px;
  margin-left: 90%;
  margin-right: 25px;
  margin-bottom: 25px;
  position: fixed;
  z-index: 100; }
  .top img {
    height: 75px;
    width: 75px; }

.modal-overlay {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 105; }
  .modal-overlay .modal-container {
    margin: 10% auto;
    width: 55%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex; }
    .modal-overlay .modal-container .modal-close {
      position: absolute;
      z-index: 2;
      color: white;
      font-size: 20px;
      height: 30px;
      width: 30px;
      text-align: center;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.74);
      border: 2px solid white;
      margin-top: -15px;
      margin-left: -25px; }
      .modal-overlay .modal-container .modal-close:hover {
        cursor: pointer; }
      .modal-overlay .modal-container .modal-close span {
        padding-top: 3px;
        display: block; }
    .modal-overlay .modal-container .modal-col-1 {
      margin-left: -14px;
      width: 50%;
      height: 100%; }
      .modal-overlay .modal-container .modal-col-1 .modal-img {
        height: 100%;
        width: 66%; }
    .modal-overlay .modal-container .modal-col-2 {
      width: 50%;
      height: inherit; }
      .modal-overlay .modal-container .modal-col-2 .modal-title {
        text-transform: capitalize;
        font-size: 60px;
        color: white;
        font-weight: 300; }
      .modal-overlay .modal-container .modal-col-2 .modal-info {
        color: white;
        font-weight: 100;
        line-height: 2.0;
        font-size: 18px; }

/*# sourceMappingURL=main.css.map */
